* {
    font-family: 'Permanent Marker', cursive;
    color: white;
}

body {
    background-color: blue;
    background-image: url(../images/background_with_cowboy.png);
    background-size: auto;
    background-repeat: repeat-x;
}

p {
    margin: 10px;
}

#winContainer {
    background-color: black; 
    border-radius: 0 0 0 10px; 
    border-bottom: 2px solid white; 
    border-left: 2px solid white;
}

#loseContainer {
    background-color: black; 
    padding-bottom: 30px; 
    border-radius: 0 0 10px 0; 
    border-bottom: 2px solid white; 
    border-right: 2px solid white;
}

#top {
    padding-top: 50px;
}

#usr {
    margin-top: 10px;
}

.textHide {
    visibility: hidden;
    clear: both;
    position: absolute;
}

@media only screen and (max-width: 600px) {
    #wordDisplayID {
        font-size: 14pt;
        padding-bottom: 20px;
    }

    #winContainer {
        border-bottom: none;
        border-left: 2px solid white;
        border-right: 2px solid white;
        border-radius: 0; 
        margin: 0 15px 0 15px;
    }

    #loseContainer {
        border-left: 2px solid white;
        border-radius: 0 0 10px 10px;
        margin: 0 15px 0 15px;
    }

    #h3 {
        font-size: 16pt;
    }

    #mobile {
        margin: 0 15px 0 15px;
    }

    #top {
        padding-top: 10px;
    }

    .textHide {
        visibility: visible;
        clear: none;
        position: relative;
    }
}