* {
    font-family: 'Permanent Marker', cursive;
    color: white;
}

body {
    background-image: url(../images/background_flipped.png);
    background-repeat: no-repeat;
    background-size: 1500px 800px;
    margin: 0;
}

p {
    margin: 10px;
}